.collection-card {
    margin: 25px;
}

.collection-card-gradiant {
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgba(202, 226, 251, 0.427));
}

.collection-card-btn {
    background: transparent;
}
