  .jumbotron {
    padding: 50px 20px;
    padding-left: 100px;
    text-align: center;
  }
  
  .jumbotron-title {
    font-size: 28px;
    font-weight: bold;
    margin: 0;
  }
  
  .jumbotron-text {
    font-size: 18px;
    color: #555;
    margin-top: 10px;
  }

.gradient {
  background-image: linear-gradient(to right, rgb(255, 255, 255), rgba(89, 146, 207, 0.427));
  top: 0;
  left: 0;
}

.jumbotron-text-div {
  margin-top: 15%;
}

.jumbotron-img {
  max-width: 250px !important;
}